<!-- ç¬¬äºŒæ­¥: å®šä¹‰ html View è§†å›¾å±‚ -->
<%- include('../template/top.ejs') %>

<!-- ðŸ‘‡title å˜é‡ç”± router å†…çš„ render å†…çš„å˜é‡æä¾› -->
<h1><%= title %></h1>


<!-- ä»Ž Model å±‚è¿”å›žçš„æ•°æ® -->
<ul>
	<% mobileData .forEach(item =>{ %> 
		<li>
			<!-- ç‚¹å‡»è·³è½¬åˆ°æ¯ä¸ªæ‰‹æœºå“ç‰Œçš„è¯¦æƒ… -->
			<a href="http://localhost:8080/detail<%= item.id %> ">
				<%= item.brand + ' ' + item.model %>
			</a>
			<button class="remove-btn" data-id="<%= item.id %>">Remove</button>
		</li>
	<% }) %> 
</ul>

<%- include('../template/bottom.ejs') %>