<!-- ç¬¬äºŒæ­¥: å®šä¹‰ html æ¨¡æ¿ -->
<%- include('../template/top.ejs') %>


<!-- ðŸ‘‡mobileListData å˜é‡ç”± router å†…çš„ listController.listView
	å†…çš„ listView å†…çš„ render å†…çš„å˜é‡æä¾›
	å†åŽ»è°ƒç”¨ detailControllers.js å†…çš„ getMobileDateList æ–¹æ³•
	ä»Žè€ŒåŽ»æ‰§è¡Œ allList.js è¿™ä¸ª Model å±‚å†…çš„ getMobileDateList æ–¹æ³•
 -->
<h1>Mobile List</h1>


<!-- ä»Ž Model å±‚è¿”å›žçš„æ•°æ®ï¼Œ ã€ðŸŒŸmobileDetailDataã€‘ ä¸º allListControllers.js å†…çš„å˜é‡åï¼ -->
<ul>
	<% mobileListData.forEach(item =>{ %> 
		<li>
			<!-- æ¯ä¸ªæ‰‹æœºå“ç‰Œçš„è¯¦æƒ…, ç»Ÿä¸€æ±‡é›† -->
			<a href="http://localhost:8080/detail/<%= item.id %>">
				<%= item.brand + ' ' + item.model %>
			</a>
			<button class="remove-btn" data-id="<%= item.id %>">Remove</button>
		</li>
	<% }) %> 
</ul>

<%- include('../template/mobileFrom.ejs') %> 

<%- include('../template/bottom.ejs') %>