<!-- ç¬¬äºŒæ­¥: å®šä¹‰ html æ¨¡æ¿ -->
<%- include('../template/top.ejs') %>


<!-- ðŸ‘‡mobileListData å˜é‡ç”± router å†…çš„ listController.listView
	å†…çš„ listView å†…çš„ render å†…çš„å˜é‡æä¾›
	å†åŽ»è°ƒç”¨ detailControllers.js å†…çš„ getMobileDateList æ–¹æ³•
	ä»Žè€ŒåŽ»æ‰§è¡Œ allList.js è¿™ä¸ª Model å±‚å†…çš„ getMobileDateList æ–¹æ³•
 -->
<h1>Mobile List</h1>


<!-- ä»Ž Model å±‚è¿”å›žçš„æ•°æ®ï¼Œ ã€ðŸŒŸmobileDetailDataã€‘ ä¸º allListControllers.js å†…çš„å˜é‡åï¼ -->
<!-- ç‚¹å‡» ul åšäº‹ä»¶ä»£ç†ï¼Œæ‰¾åˆ° removeBtn è¿™ä¸ªäº‹ä»¶æº -->
<ul id="mobileList">
	<% mobileListData.forEach(item =>{ %> 
		<li>
			<!-- æ¯ä¸ªæ‰‹æœºå“ç‰Œçš„è¯¦æƒ…, ç»Ÿä¸€æ±‡é›† -->
			<a href="http://localhost:8080/detail/<%= item.id %>">
				<%= item.brand + ' ' + item.model %>
			</a>
			<button class="remove-btn" data-id="<%= item.id %>">Remove</button>
		</li>
	<% }) %> 
</ul>

<%- include('../template/mobileFrom.ejs') %> 

<!-- ðŸ‘‡å‰ææ˜¯åœ¨ app.js å†…è®¾ç½®äº† (å‰ç«¯çš„é™æ€èµ„æºç›®å½•), å¯ç›´æŽ¥è®¿é—® public å†…çš„ä»»ä½•ç›®å½• -->
<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.2/axios.min.js"></script>
<script src="http://localhost:8080/scripts/mobile.js"></script>

<%- include('../template/bottom.ejs') %>